<form [formGroup]="testForm"
      (ngSubmit)="save()">
  <p-card [header]="header">
    <!-- Version -->
    <div>
      <span [class]="centerVerticallyStyleClass"
            [style]="minWidthMinHeightStyle">
        <label>Version</label>
      </span>
      <span [class]="centerStyleClass">
        <p-inputNumber formControlName="version"></p-inputNumber>
      </span>
    </div>

    <!-- Lehrjahr -->
    <div>
      <span [class]="centerVerticallyStyleClass"
            [style]="minWidthMinHeightStyle">
        <label>Lehrjahr</label>
      </span>
      <span [class]="centerStyleClass">
        <p-inputNumber formControlName="lehrjahr"></p-inputNumber>
      </span>
    </div>

    <!-- Name -->
    <div>
      <span [class]="centerVerticallyStyleClass"
            [style]="minWidthMinHeightStyle">
        <label>Name</label>
      </span>
      <span [class]="centerStyleClass">
        <input type="text"
               pInputText
               formControlName="name"/>
      </span>
    </div>

    <!-- Beschreibung -->
    <div>
      <span [class]="centerVerticallyStyleClass"
            [style]="minWidthMinHeightStyle">
        <label>Beschreibung</label>
      </span>
      <span [class]="centerStyleClass">
        <textarea pInputTextarea
                  formControlName="description"
                  [rows]="5"
                  [cols]="30"
                  [autoResize]="true"></textarea>
      </span>
    </div>

    <p-divider></p-divider>

    <div formArrayName="questions">
      <div *ngFor="let controlQuestion of questions.controls; index as indexQuestions"
           [formGroupName]="indexQuestions">
        <p-fieldset [legend]="questions.at(indexQuestions).get('name')?.value"
                    [toggleable]="true">
          <div>
            <input type="text"
                   pInputText
                   formControlName="name"
                   class="w-3"/>
          </div>
          <div class="mt-3">
            <!-- Beschreibung -->
            <span [class]="centerVerticallyStyleClass"
                  [style]="minWidthMinHeightStyle">
              <label>Beschreibung</label>
            </span>
            <span [class]="centerStyleClass"
                  [style]="marginRightStyle">
              <input type="text"
                     pInputText
                     formControlName="description"/>
            </span>

            <!-- Hinweis -->
            <span [class]="centerVerticallyStyleClass"
                  [style]="minWidthMinHeightStyle">
              <label>Hinweis</label>
            </span>
            <span [class]="centerStyleClass"
                  [style]="marginRightStyle">
              <input type="text"
                     pInputText
                     formControlName="hint"/>
            </span>

            <button pButton
                    type="button"
                    class="ui mini button"
                    label="Toggle Antworttyp"
                    (click)="toggleAnswertype(controlQuestion)"
                    [style]="{'margin-right': '.5em', 'vertical-align': 'middle'}"></button>
          </div>

          <!-- Answers -->
          <div formArrayName="answers">
            <h2>Antworten</h2>
            <div *ngFor="let controlAnswer of answers(indexQuestions).controls; index as indexAnswer"
                 [formGroupName]="indexAnswer">
              <!-- Beschreibung -->
              <span class="align-items-center"
                    style="display: inline-block; min-width: 140px; min-height: 50px;">
                <label>Beschreibung</label>
              </span>
              <span class="align-items-center justify-content-center"
                    [style]="marginRightStyle">
                <input type="text"
                       pInputText
                       formControlName="description"/>
              </span>

              <!-- Korrekter Wert -->
              <span class="align-items-center"
                    style="display: inline-block; min-width: 140px; min-height: 50px;">
                <label>Korrekter Wert</label>
              </span>

              <p-checkbox formControlName="correctAnswertext"
                          [style]="{'margin-bottom': '30px'}"
                          [binary]="true"
                          *ngIf="controlQuestion.get('answerType')?.value == 0"></p-checkbox>

              <span class="align-items-center justify-content-center"
                    [style]="marginRightStyle">
                <input type="text"
                       pInputText
                       formControlName="correctAnswertext"
                       *ngIf="controlQuestion.get('answerType')?.value == 1"/>
              </span>

            </div>

            <button pButton
                    type="button"
                    class="ui mini button"
                    label="+Answer"
                    (click)="addAnswerControl(indexQuestions)"
                    [style]="{'margin-right': '.5em'}"></button>
          </div>

          <p-divider></p-divider>
        </p-fieldset>
      </div>
    </div>

    <ng-template pTemplate="footer">
      <button pButton
              type="button"
              class="ui mini button"
              label="+Question"
              (click)="addQuestionControl()"
              [style]="{'margin-right': '.5em'}"></button>
      <button pButton
              type="submit"
              label="Speichern"
              [disabled]="testForm.invalid"></button>
    </ng-template>
  </p-card>

</form>
