<p-card header="Tests">
  <div class="mt-2 w-6 border-1">
    <p-treeTable *ngIf="testsAsNodes$ | async as tests" [value]="tests" [columns]="cols">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th [ngStyle]="{'width': col.width? col.width + 'rem' : null}" *ngFor="let col of columns" class="bg-primary">
            {{col.header}}
          </th>
          <th style="width: 11rem" class="bg-primary">
            <p-button icon="pi pi-plus" routerLink="new" [style]="{'margin-right': '.5em'}"></p-button>
            <p-button icon="pi pi-refresh" (onClick)="refresh()"></p-button>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
          <td *ngFor="let col of columns; let i = index" ttEditableColumn [ngClass]="{'p-toggler-column': i === 0}">
            <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>

            <p-treeTableCellEditor *ngIf="!col.readonly; else onlyshow">
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="rowData[col.field]">
              </ng-template>
              <ng-template pTemplate="output">{{rowData[col.field]}}</ng-template>
            </p-treeTableCellEditor>

            <ng-template #onlyshow>
              {{rowData[col.field]}}
            </ng-template>
          </td>
          <td>
            <p-button icon="pi pi-check" styleClass="p-button-success" [style]="{'margin-right': '.5em'}"
                      (onClick)="updateTest(rowNode)" *ngIf="isColTest(rowData)"></p-button>
            <p-button icon="pi pi-delete-left" styleClass="p-button-success" [style]="{'margin-right': '.5em'}"
                      (onClick)="deleteTest(rowData)" *ngIf="isColTest(rowData)"></p-button>
            <p-button icon="pi pi-pencil" styleClass="p-button-warning" routerLink="{{rowData['id']}}"
                      *ngIf="isColTest(rowData)"></p-button>

          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
</p-card>
