<div class="grid">
  <div *ngFor="let kategorie of kategories">
    <p-panel header="{{kategorie.name}}" [toggleable]="true" class="p-0">
      <div *ngFor="let artikel of kategorie.artikels">
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
          <div class="px-6 py-4">
            <div class="font-bold text-xl">
              <p-checkbox class="mr-2 pb-px object-center" [(ngModel)]="artikel.gekauft" [binary]="true"></p-checkbox>
              <span class="">{{artikel.anzahl}}x {{artikel.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </p-panel>
  </div>
</div>


